#wrap{
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 150px;
  gap: 10px;
}
.mainContent{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.mainContent .leftContent{
  width: 50%;
  height: 45vw;
  background-color: #fff;
}
/* .mainContent .leftContent .videoBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;

} */




.mainContent .rightContent{
  width: calc(50% - 150px);
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainContent .rightContent .logo{
  font-size: 24px;
  align-self: center;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  margin-bottom: 150px;
}
.mainContent .rightContent .btnArea{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mainContent .rightContent .btnArea button{
  width: calc(50% - 15px);
  height: 50px;
  padding: 3px;
  font-size: 16px;
}
.mainContent .rightContent .btnArea button:hover{
  background-color: rgba(256, 256, 256, .1);
  cursor: pointer;
}
.mainContent .rightContent .btnArea .analysis{
  color: #66bb59;
  border: 3px solid #36632e;
  background-color: #000;
  border-radius: 8px;
}
.mainContent .rightContent .btnArea .broadcasting{
  color: #4e7297;
  border: 3px solid #374f69;
  background-color: #000;
  border-radius: 8px;
}
.mainContent .rightContent .search input[type=text]{
  background-image: linear-gradient(#000, #000), linear-gradient(to right, #a2d17a 0%, #91d78b 29%, #7dd59b 67%, #52ac95 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 3px solid transparent;
  border-radius: 8px;
  width: calc(100% - 30px);
  margin: 40px 11px;
  height: 50px;
  text-indent: 20px;
  color: #fff;
}


.information{
  background-color: #fff;
  width: calc(100% - 100px);
  padding: 150px;
  height: 800px;
}