.video-viewer {
  width: 100%;
  height: 100%;
  background-color: #002b17;
  padding-bottom: 50px;
}
.video-viewer .imgBox {
  width: 100%;
  height: 350px;
  margin-bottom: 50px;
  background-image: url('../assets/images/analysis.jpg');
  background-size: cover;
  background-position: right top;
}
.video-viewer .imgBox .bg{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.5);

}
.video-viewer h1 {
  text-align: center;
  color: #fff;
  line-height: 300px;
  position: absolute;
  top: 0;
  left: 50px;

}
.content-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.video-player-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.video-player {
  width: 800px;
  height: 450px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  pointer-events: none;
}

.player-list{
  display: none;
}


.player-list h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.2em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.player-list h3 {
  margin-top: 20px;
  color: #666;
}

.player-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.player-list li {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.player-list li:hover {
  background-color: #e9e9e9;
}

.minimap-container {
  width: 700px; /* 미니맵의 너비 */
  height: 450px; /* 미니맵의 높이 */
  background: #ffffff; /* 배경색 */
  border-radius: 5px; /* 모서리 둥글게 설정 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.minimap-canvas {
  background-color: #002b17;
  width: 701px;
  height: 448px;
  background-image: url('../assets/images/field.jpg'); /* 배경 이미지 추가 */
  background-size: cover; /* 이미지 크기를 캔버스 크기에 맞춤 */
  background-position: center; /* 이미지의 중심을 캔버스의 중심에 위치 */
  border-radius: 5px; /* 배경 이미지의 모서리도 둥글게 설정 */
}
